<div #container>
  <div class="in lbl">
    <h4>Jogo {{jogo.ordem}}</h4>
  </div>
  <div class="in">
    <p-checkbox *ngIf="!disabled && futebol" [(ngModel)]="empate" label="Empate" binary="true" [style]="{'margin-bottom': '4px'}"
      (onChange)="mudarEmpate()" [disabled]="disabled"></p-checkbox>
    <div class="ui-team">
      <div class="team width-200px">
        <button pButton type="button" label="{{jogo.time1.nome}}" class="ui-button-secondary btn-width-100"></button>
      </div>
      <div>
        <p-spinner size="3" [(ngModel)]="jogo.placar1" [min]="0" [max]="futebol ? 100 : 2" (onChange)="mudarPlacarUm()" [disabled]="disabled"></p-spinner>
      </div>
      <div *ngIf="futebol && empate">
        <p-spinner size="3" [(ngModel)]="jogo.penalti1" [min]="0" [max]="100" (onChange)="mudarPenaltiUm()" [disabled]="disabled"></p-spinner>
      </div>
    </div>
    <div class="ui-team">
      <div class="team width-200px">
        <button pButton type="button" label="{{jogo.time2.nome}}" class="ui-button-secondary btn-width-100"></button>
      </div>
      <div>
        <p-spinner size="3" [(ngModel)]="jogo.placar2" [min]="0" [max]="futebol ? 100 : 2" (onChange)="mudarPlacarDois()" [disabled]="disabled"></p-spinner>
      </div>
      <div *ngIf="futebol && empate">
        <p-spinner size="3" [(ngModel)]="jogo.penalti2" [min]="0" [max]="100" (onChange)="mudarPenaltiDois()" [disabled]="disabled"></p-spinner>
      </div>
    </div>
    <div *ngIf="!disabled" class="width-200px">
      <button pButton type="button" label="Atualizar" (click)="clickAtualizar()" [disabled]="!valido" class="btn-width-50"></button>
      <button pButton type="button" label="Finalizar" (click)="clickFinalizar()" [disabled]="!valido" class="btn-width-50"></button>
    </div>
  </div>
</div>
