.ui-placar {
  padding: 0;
  margin: 0;
  position: relative;
  zoom: 1;
}

.mb {
  margin-bottom: 10px;
}

.ui-team div, .in {
  padding: 0;
  margin: 0;
  display: inline-block;
  vertical-align: middle;
}

.ui-team {
  margin-bottom: 2px;
}

.width-200px {
  width: 200px;
}

.btn-width-100 {
  width: 100%;
}

.btn-width-50 {
  width: calc(50% - .23em);
}

.lbl {
  width: 60px;
}