.ui-placar {
  padding: 0;
  margin: 0;
  position: relative;
  zoom: 1;
}

.mb {
  margin-bottom: 10px;
}

.ui-team div {
  padding: 0;
  margin: 0;
  display: inline-block;
  vertical-align: middle;
}

.ui-team {
  margin-bottom: 1px;
}

.btn-with {
  width: 200px;
}
