<p-panel header="Jogos">
  <h3 class="first">Modalidade</h3>
  <p-dropdown [options]="modalidades" [(ngModel)]="selecionada" placeholder="Selecione uma modalidade" (onChange)="changeModalidade($event)"></p-dropdown>

  <div *ngIf="items && items.length > 0">
    <h3>Fases</h3>
    <p-steps [model]="items"></p-steps>

    <div *ngIf="mostrarTimes">
      <h3>Times</h3>
      <p-pickList [source]="origem" [target]="destino" sourceHeader="Disponíveis" targetHeader="Selecionados" [responsive]="true"
        [sourceStyle]="{'height':'200px'}" [targetStyle]="{'height':'200px'}" filterBy="nome" [showSourceControls]="false"
        (onMoveToTarget)="moveToTarget($event)">
        <ng-template let-time pTemplate="item">
          <div class="ui-helper-clearfix">
            <div style="font-size:14px;float:left;margin:5px">{{time.nome}}</div>
          </div>
        </ng-template>
      </p-pickList>
      <br>
      <button pButton type="button" icon="fa-close" iconPos="left" label="Recarregar" (click)="recarregar()"></button>
      <button pButton type="button" icon="fa-check" iconPos="left" label="Gravar" (click)="gravar()" [disabled]="destino.length < 8"></button>
    </div>

  </div>
</p-panel>
