/* You can add global styles to this file, and also import other style files */
.panel-heading h3.custom {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: normal;
    width: 75%;
    padding-top: 8px;
}